<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="L05_WebService.L05_WebService" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="10" />
	<application android:label="L05-WebService" android:icon="@drawable/Icon"></application>
</manifest>